# Variables in python

In [1]:
a=3
print(a)

3

Think of a variable as a "box" with a name, that can hold onto a value.

They have **classes**. The **class** controls what it can do.

We can easily find the **class** of each variable using **type** function.

In [2]:
type(a)

int

This tell us that variable ``a`` is of the class ``int``, or **integer**.

# integer (int)
Whole numbers only.

In [3]:
age = 3
age

3

In [4]:
print(type(age))

<class 'int'>

Notice how we have **nested functions**. We have the **function** ``type`` acting on the ``variable`` age. 

We then have the **function** ``print`` acting on the **result** of the **function** ``type`` acting on the ``variable`` age. 

Keep track of the number of parentheses used.

# boolean (bool)
Simply a value of True or False.

In [5]:
something_is = True
something_is

True

In [6]:
type(something_is)

bool

Booleans are ***incredibly*** useful and we will come back to these a lot throughout the semester.

# float
Floats are **floating point** numbers, or decimals to you and me.

In [7]:
temperature = 98.6
temperature

98.6

In [8]:
print(type(temperature))

<class 'float'>

# string (str)
Strings are collections of characters. They are defined by being enclosed by quotations ``"`` or ``'``.

In [9]:
name = "Bond, James Bond"
name

'Bond, James Bond'

In [10]:
print(type(name))

<class 'str'>

In [11]:
name2 = 'Indiana Jones'
name2

'Indiana Jones'

**Strings** can have any value, including the contents to an **integer**, a **float**, a **boolean**, or anything else.

However, because it's a **string**, it works differently than other **classes** do.

In [12]:
print (a+3)

6

In [13]:
print (temperature * 2)

197.2

In [14]:
temp_string = "98.6"

In [15]:
print (temp_string / 3)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

This causes an error.

Division isn't allowed for strings.

# list
A list of other things.

In [16]:
things = [ 1, 2, 3]
print(things[1])
print(type(things))

2
<class 'list'>

The contents of a **list** can be of different **classes**.

In [17]:
others = ["a", 2, 5.4]
print (others)

['a', 2, 5.4]

A property of lists is that we can change or **reassign** the values.

In [18]:
things[0]=3
print (things)

[3, 2, 3]

# tuple

In [19]:
couple_items = ( "a", "boat" , 4)
print(couple_items)
print(couple_items[1])

('a', 'boat', 4)
boat

In [20]:
print(type(couple_items))

<class 'tuple'>

A property of **tuples** is that we cannot change or **reassign** the values.

In [21]:
couple_items[0] = "c"

TypeError: 'tuple' object does not support item assignment