# Welcome to SEOE 365

First, about `jupyter-notebooks`. It's an interactive way of writing and running computer code and taking notes at the same time. As you read in the introductory reading, Notebooks are organised into cells.

We execute a cell by first selecting it (clicking on it) and then by either clicking on the triangle at the top left of the notebook, or else pressing `shift`+`enter` on the keyboard. Do that now to see what happens.

it is what it is...

### Markdown

The cell above was a **Markdown** text cell, and so is this. Markdown is the cell type where we can type text that isn't code. Go ahead and **double click** in this cell and you will see that you can edit it. **Type something here and then execute/run the cell:**

As we go through the course, feel free to take notes in your notebooks using markdown cells.

You can insert new cells by either clicking on the `+` in the top left, or else by using a `shortcut` and pressing `b` on the keyboard. Do that now, **press `b` and see what happens.** Then try **pressing `a`**.

Another shortcut is `enter` to edit a cell that you have selected.

### Code

By default, new cells are of the **code** type. Look at the top of the notebook for the dropdown menu that will say **code** or **markdown**.

You can switch a cell between **markdown** and **code** by selecting a cell and pressing `m` for markdown, or `y` for code.

### More on shortcuts

You can find a list of shortcuts here: https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330
You might want to keep this open so that you can refer to it.

### Starting to code in a notebook

Let's get going right away by dealing with some data within this Jupyter notebook. The first bit of code you will run is in the cell below. This is a code cell rather than a markdown cell (you can change the cell type using the drop-down box above). You can either hit the play button above, or more efficiently press *shift+enter* on your keyboard to run the code.

In [1]:
#This cell is a code cell. It is where we can type code that can be executed.
#The hashtag at the start of this line makes it so that this text is a comment not code. 

import pandas as pd

The reason why we execute the code ```import pandas as pd``` is so that we can use the functions of the ```pandas``` library which provides really helpful data structures and data analysis tools. We are using the standard convention of importing it using the nickname ```pd```. One of the fantastic things about doing data analysis in Python is the availability of great data analysis tools such as ```pandas```. One of the frustrating things can be learning how to use these diverse tools and which to use when. You will get more and more comfortable with these tools as the term progresses.

# Finding Birthquakes

Your birthquake is the largest magnitude earthquake that occured on the day you were born. In this in-class exercise, we are going to search an earthquake catalog and find your birthquake.

To do so, we can going to download data from the US Geological Survey (USGS) Earthquake Hazards program. https://earthquake.usgs.gov

We are going to use an API that lets us send an url to the USGS and get earthquake information for a set of specified parameters. 

## Finding Dan's birthquake

Let's do it first for my birthday. We will define my birthday in year-month-day format and the day after my birthday in year-month-day format in order to make a url that gets data starting on 12 am of my birthday and ending 12 am of the next day. We are putting the quote marks (' ') around the dates so that they are **strings** (the python data type that is a sequence of text).

In [2]:
dan_birthday = '2004-12-26'
day_after_dan_birthday = '2004-12-27'

What we just did in the code above is to define the **variable** ```dan_birthday``` to be set to be the string '2004-12-26'. If we run a code cell with just that variable, Jupyter will show the variable as the code output.

In [3]:
dan_birthday

'2004-12-26'

Another way to see the **variable** is to tell python to **print** it using the function ```print()```.

In [4]:
print(dan_birthday)

2004-12-26

### Defining Dan's birthday earthquake URL

To make a url that we can send to the USGS and get back data, we need to insert these dates into the USGS earthquake API url format. We will define that standard_url as a string and then add the dates that were set above to be the starttime and endtime.

In [5]:
standard_url = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&orderby=magnitude'

dan_birthquake_url = standard_url + '&starttime=' + dan_birthday + '&endtime=' + day_after_dan_birthday
dan_birthquake_url

'https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&orderby=magnitude&starttime=2004-12-26&endtime=2004-12-27'

### Getting Dan's birthday earthquakes

We now have a url that we can use to get data from the USGS. We could cut and paste this url (without the quotation marks) into a web browser. Go ahead and give that a try.

Alternatively, we can use the `pandas` **functions** that we imported at the top of this notebook to get these data. The standard way to use ```pandas``` is to import it with the shorthand ``pd``. We will use the ```pd.read_csv()``` **function** which will take the data that comes from the USGS url and make it into a **DataFrame**. 

A **DataFrame** is a data structure with columns of different data that are defined with column names, like **excel**.

In [6]:
dan_birthday_earthquakes = pd.read_csv(dan_birthquake_url)

These data are sorted by magnitude with the largest magnitude earthquakes at top. Let's look at the first 5 rows of the DataFrame using the ```.head()``` function.

In [7]:
dan_birthday_earthquakes

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2004-12-26T00:58:53.450Z,3.295000,95.982000,30.000,9.1,mw,601.0,22.0,NaN,1.17,...,2025-08-02T11:36:49.366Z,2004 Sumatra - Andaman Islands Earthquake,earthquake,NaN,NaN,NaN,NaN,reviewed,us,official
1,2004-12-26T04:21:29.810Z,6.910000,92.958000,39.200,7.2,mwc,385.0,27.9,NaN,1.00,...,2022-07-14T19:02:41.855Z,"284 km WNW of Sabang, Indonesia",earthquake,NaN,7.60,NaN,NaN,reviewed,us,hrv
2,2004-12-26T09:20:01.610Z,8.879000,92.375000,16.100,6.6,mwc,353.0,31.9,NaN,1.07,...,2022-05-02T17:39:40.888Z,"Nicobar Islands, India region",earthquake,NaN,16.70,NaN,NaN,reviewed,us,hrv
3,2004-12-26T10:19:31.730Z,13.462000,92.738000,26.400,6.3,mwc,389.0,43.2,NaN,0.86,...,2022-05-02T17:39:43.292Z,"194 km N of Bamboo Flat, India",earthquake,NaN,NaN,NaN,NaN,reviewed,us,hrv
4,2004-12-26T11:05:00.720Z,13.533000,92.840000,13.300,6.2,mwc,462.0,26.8,NaN,0.89,...,2022-05-02T15:55:52.176Z,"203 km N of Bamboo Flat, India",earthquake,NaN,NaN,NaN,NaN,reviewed,us,hrv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,2004-12-26T19:43:10.030Z,35.928333,-120.482500,5.796,NaN,NaN,8.0,187.0,0.026130,0.03,...,2017-01-10T00:40:15.290Z,"5 km NW of Parkfield, California",earthquake,0.56,1.37,NaN,NaN,reviewed,nc,nc
609,2004-12-26T20:18:38.400Z,35.968833,-120.525333,3.423,NaN,NaN,9.0,72.0,0.014410,0.03,...,2017-01-10T00:40:25.197Z,"11 km NW of Parkfield, California",earthquake,0.54,1.00,NaN,NaN,reviewed,nc,nc
610,2004-12-26T20:52:52.160Z,35.989000,-120.546667,2.695,NaN,NaN,9.0,120.0,0.021620,0.05,...,2017-01-10T00:40:38.118Z,"14 km NW of Parkfield, California",earthquake,0.39,1.08,NaN,NaN,reviewed,nc,nc
611,2004-12-26T23:35:10.110Z,38.819667,-122.786833,0.740,NaN,NaN,6.0,113.0,0.008108,0.01,...,2017-01-10T00:42:14.068Z,"5 km W of Cobb, California",earthquake,0.69,1.08,NaN,NaN,reviewed,nc,nc
612,2004-12-26T23:00:18.770Z,35.889333,-120.439667,10.861,NaN,NaN,21.0,96.0,0.031530,0.06,...,2017-01-10T00:42:07.254Z,"1 km SSW of Parkfield, California",earthquake,0.54,0.73,NaN,NaN,reviewed,nc,nc

We can just look at the first row by using the ```.loc``` field to the DataFrame and getting item at index 0. Python is zero-indexed so the first row is row zero. We can use the first row of .loc to see all the details about my birthquake.

This is a big data table, like an **excel** file.

We can return a single row using the ```.loc``` **function**.

In [8]:
dan_birthday_earthquakes.loc[0]

time                                2004-12-26T00:58:53.450Z
latitude                                               3.295
longitude                                             95.982
depth                                                   30.0
mag                                                      9.1
magType                                                   mw
nst                                                    601.0
gap                                                     22.0
dmin                                                     NaN
rms                                                     1.17
net                                                 official
id                              official20041226005853450_30
updated                             2025-08-02T11:36:49.366Z
place              2004 Sumatra - Andaman Islands Earthquake
type                                              earthquake
horizontalError                                          NaN
depthError                                               NaN
magError                                                 NaN
magNst                                                   NaN
status                                              reviewed
locationSource                                            us
magSource                                           official
Name: 0, dtype: object

<font color=red>**Question:**</font> Which row of the **dataframe** is this?

It can be useful to return a single value which can be done by calling both the the row using the ```.loc``` **function**, and the column using the **key**. Here, we use the **key** ``mag`` to display the earthquake magnitude.

In [9]:
dan_birthday_earthquakes.loc[0]['mag']

np.float64(9.1)

This is telling us what is in that cell. It tells us that there is a **numpy (np) float variable** with a value of 9.1.

We can print the contents using the print **function**.

In [10]:
print(dan_birthday_earthquakes.loc[0]['mag'])

9.1

<font color=goldenrod>**_Code for you to write_**</font>
Display the ``depth`` of the earthquake in third row of the **dataframe**. Does this match the third row in the big table above?

In [11]:
print(dan_birthday_earthquakes.loc[2]['depth'])

16.1

#### Errors 
When working with Python for this course, you are going to get errors. I get errors everyday. They can look intimidating, but they often are informative (particularly if you look at the bottom). This code cell below should result in an error. Go ahead and execute it and let's have a look at the result.

In [12]:
dan_birthday_earthquakes.loc[0]['birthday_cake']

KeyError: 'birthday_cake'

Often, **reading the final line** of the error message is the best way to understand it.

<font color=red>**Question:**</font> Why did we get this error?

#### Dan's birthquake

The largest earthquake on the day ***I chose to be born*** was a magnitude (column `mag`) 9.1 that occured off Northern Sumatra (column `place`).

## Finding your birthquake
### Enter your birthday

Enter your birthday and the date after in year-mm-dd format.

<font color=goldenrod>**_Code for you to write_**</font>

In [13]:
### Enter your birthday here within the quotes in year-mm-dd format

your_birthday = '1994-06-22'
day_after_your_birthday = '1994-06-23'

#### Defining your birthday earthquake URL

In [14]:
standard_url = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&orderby=magnitude'

your_birthquake_url = standard_url + '&starttime=' + your_birthday + '&endtime=' + day_after_your_birthday
your_birthquake_url

'https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&orderby=magnitude&starttime=1994-06-22&endtime=1994-06-23'

#### Getting your birthday earthquakes

In [15]:
your_birthday_earthquakes = pd.read_csv(your_birthquake_url)

### Looking at your birthday earthquakes

In [16]:
your_birthday_earthquakes.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,1994-06-22T16:18:25.780Z,-6.043,130.905,105.8,5.2,mb,NaN,NaN,NaN,0.9,...,2022-04-28T17:40:42.187Z,"209 km WSW of Tual, Indonesia",earthquake,NaN,5.9,NaN,28.0,reviewed,us,us
1,1994-06-22T19:11:54.580Z,-10.565,112.644,33.0,5.1,mb,NaN,NaN,NaN,1.0,...,2014-11-07T00:55:44.124Z,"260 km S of Dampit, Indonesia",earthquake,NaN,NaN,NaN,7.0,reviewed,us,us
2,1994-06-22T14:36:11.150Z,-10.329,116.775,33.0,4.9,mb,NaN,NaN,NaN,0.3,...,2014-11-07T00:55:44.075Z,"187 km SSE of Praya, Indonesia",earthquake,NaN,NaN,NaN,4.0,reviewed,us,us
3,1994-06-22T04:29:56.550Z,5.281,127.002,85.4,4.8,mb,NaN,NaN,NaN,1.5,...,2014-11-07T00:55:44.055Z,"150 km SE of Pondaguitan, Philippines",earthquake,NaN,17.6,NaN,3.0,reviewed,us,us
4,1994-06-22T12:55:07.290Z,-6.445,152.935,33.0,4.8,mb,NaN,NaN,NaN,0.8,...,2014-11-07T00:55:44.066Z,"243 km SSE of Kokopo, Papua New Guinea",earthquake,NaN,NaN,NaN,9.0,reviewed,us,us

In [17]:
your_birthday_earthquakes.loc[0]

time                    1994-06-22T16:18:25.780Z
latitude                                  -6.043
longitude                                130.905
depth                                      105.8
mag                                          5.2
magType                                       mb
nst                                          NaN
gap                                          NaN
dmin                                         NaN
rms                                          0.9
net                                           us
id                                    usp0006epc
updated                 2022-04-28T17:40:42.187Z
place              209 km WSW of Tual, Indonesia
type                                  earthquake
horizontalError                              NaN
depthError                                   5.9
magError                                     NaN
magNst                                      28.0
status                                  reviewed
locationSource                                us
magSource                                     us
Name: 0, dtype: object

<font color=red>**Question:**</font> What is the magnitude of your birthquake? Where did it occur?

Once you're finished at the end of class, save your work. In the "File" menu, select `Save Notebook`, or else use the shortcut `ctrl+s`. The counter `Last Checkpoint` at the top of the page should update.

Now click: 
- File
- (at the bottom) Print
- Save as PDF
- And submit this to Blackboard as your in-class assignment for the week (will be graded on completion)